# Creating Strings

In [5]:
s = 'hello'
print(s)
a = 34
str(a)

hello

'34'

In [4]:
text="it's my book"
print(text)

t="""it's my book
i love to read"""
print(t)

it's my book
it's my book
i love to read

# Accessing Strings

In [7]:
st="hello world"
print(st[0])  # Accessing first character

len(st)  # Length of the string

h

11

In [9]:
#negative indexing
print(st[-1])  # Accessing last character
print(st[-5])  # Accessing fifth character from the end

d
w

In [ ]:
#string slicing
print(st[0:5])  # Slicing from index 0 to 4
print(st[6:])   # Slicing from index 6 to end
print(st[:5])  # Slicing from start to index 4
print(st[:])   # Slicing the entire string
print(st[::2])  # Slicing with step 2 (Jump parameters)
print(st[1::2])  # Slicing with step 2 starting from index 1
print(st[::-1])  # Reversing the string
print(st[-1:-6:-1])  # Slicing in reverse from last character to fifth character from the end
print(st[-5:])  # Slicing last five characters
print(st[-6:-1])  # Slicing from sixth last to second last character
print(st[0:7:2])  # Slicing from index 0 to 6 with step 2

hello
world
hello
hello world
hlowrd
el ol
dlrow olleh
dlrow
world
 worl
hlow

- Adding Chars to string
- Editing strings
- Deleting strings

### Python strings are immutable

In [21]:
#arithmetic operations on strings
s1 = "Hello"
print(s1 + " World")  # Concatenation
print(s1 * 3)  # Repeating the string 3 times

Hello World
HelloHelloHello

In [22]:
print("|" * 10)

||||||||||

In [23]:
#relational operations on strings

print("apple" == "apple")  # True
print("apple" != "banana")  # True
print("apple" < "banana")  # True
print("banana" > "apple")  # True
print("apple" <= "apple")  # True
print("banana" >= "apple")  # True
print("apple" < "Apple")  # False, because lowercase letters have higher ASCII values than uppercase letters
print("Apple" < "apple")  # True
print("apple" < "apricot")  # True, comparison is done lexicographically
print("apricot" > "apple")  # True
print("apple" < "applepie")  # True, shorter string is considered smaller if it is a prefix of the longer string
print("applepie" > "apple")  # True

True
True
True
True
True
True
False
True
True
True
True
True

In [26]:
#membership operations on strings
'N' in "Navin"
'A' not in 'Amrin'

False

# Common Function/Method
- len
- max
- min
- sorted

In [28]:
s = "hello world"
len(s)

11

In [ ]:
max(s) # 'w' has the highest ASCII value

'w'

In [30]:
min(s) # ' ' (space) has the lowest ASCII value

' '

In [31]:
sorted(s)  # Returns a list of sorted characters in the string

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [32]:
sorted(s, reverse=True)  # Returns a list of sorted characters in descending order

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [33]:
s.capitalize()  # Capitalizes the first character of the string

'Hello world'

In [34]:
s.title()  # Capitalizes the first character of each word in the string

'Hello World'

In [35]:
s.upper()  # Converts all characters to uppercase

'HELLO WORLD'

In [37]:
s = 'Welcome'
s.swapcase()  # Swaps the case of each character

'wELCOME'

In [38]:
s ="My name is Navin"
s.count('n')  # Counts occurrences of 'n' (case-sensitive)

2

In [39]:
s.find('n')  # Finds the first occurrence of 'n' and returns its index

3

In [40]:
s.endswith('d')  # Checks if the string ends with 'd'

False

In [42]:
s.startswith('My')  # Checks if the string starts with 'h'

True

In [43]:
name ="Navin"
gender = "Male"

s= "Hello, My name is {} and I am a {}"

In [44]:
s.format(name, gender)

'Hello, My name is Navin and I am a Male'

In [45]:
s.split()

['Hello,', 'My', 'name', 'is', '{}', 'and', 'I', 'am', 'a', '{}']

In [46]:
type(s)

str

In [47]:
type(s.split())

list

In [ ]:
#palindrome check
word = input("Enter a word: ")
# if word == word[::-1]:
#     print(f"{word} is a palindrome")
flag = True
for i in range(len(word)//2):
    if word[i] != word[len(word)-1-i]:
        flag = False
        break
if flag:
    print(f"{word} is a palindrome")