# *args and **kwargs
*args and **kwargs are special python keywords that r used to pass the variable length of arguments to a func

- *args allows us to pass a variable number of non-keyword arguments to a func

In [1]:
def multiply(a,b):
    return a * b

In [2]:
res = multiply(3,4)
print(res)

12

In [ ]:
def multiply(*args):
    result = 1
    for i in args:
        result = result * i
    return result
res = multiply(2,3,4)   # tuple type value
print(res)

24

- **kwargs allows us to pass any number of keyword arguments. Keyword argument means that they contain a key-value pair, like a python dictionary.

In [7]:
def display(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display(name="Navin", age=21, city="New York")  # dictionary type value

name: Navin
age: 21
city: New York

# Variable Scope in Func
- Global variables
- Local variables

In [9]:
def f(y):
    x=10  # local variable
    x += 1
    print(x)
    # print(x+1)

x = 5  # global variable
f(x)
print(x)

11
5

# LAMBDA func

In [1]:
def square_root(x):
    return x**2

output = square_root(5)
print(output)

25

In [ ]:
a = lambda x: x**2  #ideal for small functions/one expression
print(a(6)) #Annonymous function

36

In [3]:
b= lambda x,y: x+y
print(b(3,4))

7

In [4]:
a = lambda x:'even' if x%2==0 else 'odd'
print(a(7))

odd

# Diff between lambda vs normal func
- No name
- lambda has no return value (infact, returns a func)
- lambda is written in 1 line
- not reusable

They are used with HOF

# Higher Order func
func that takes input for other func

In [ ]:
L =[1,2,3,4,5]
def square(x):
    return x**2

def cube(x):
    return x**3

def transform(func, L):   #higher order function
    result = []
    for i in L:
        result.append(func(i))
    return result

transform(square, L)

[1, 4, 9, 16, 25]

In [6]:
transform(lambda x: x**2, L)

[1, 4, 9, 16, 25]

# In-build HOF 
- map
- filter
- reduce

In [9]:
#map function
# square the item of a list
L=[1,2,3,4,5]
print(map(lambda x: x**2, L))  # return a map object

list(map(lambda x: x**2, L))  # convert map object to list

<map object at 0x00000251711553F0>

[1, 4, 9, 16, 25]

In [10]:
#fetch names from a list of dictionary
users = [
    {'name': 'Navin', 'age': 22, 'gender': 'male'},
    {'name': 'Aysha', 'age': 23,'gender': 'female'},
    {'name': 'Bob', 'age': 22,'gender': 'male'}
]
list(map(lambda x: x['name'], users))  # ['Navin', 'Aysha', 'Bob']

['Navin', 'Aysha', 'Bob']

# filter

In [11]:
#num greater than 5
L=[3,6,8,1,4,10,7]
list(filter(lambda x: x>5, L))  # [6, 8, 10, 7]

[6, 8, 10, 7]

In [12]:
# fetch fruits starting with 'a'
fruits = ['apple', 'banana', 'avocado', 'grape', 'apricot']
list(filter(lambda x: x.startswith('a'), fruits))

['apple', 'avocado', 'apricot']

# reduce

In [13]:
#sum of all item
import functools
L=[1,2,3,4,5]
functools.reduce(lambda x,y: x+y, L)  # 15

15

# Enumerate Func

In [16]:
L= ["Navin", "Aysha", "Bob", "Alice"]

for index, name in enumerate(L, start=1):
    print(index, name)  # (index, value)

1 Navin
2 Aysha
3 Bob
4 Alice